psycopg2-binary
accelerate==1.6.0
aiohttp
neo4j
nltk==3.7
numpy==2.2.4
openai==1.68.2
openpyxl==3.1.5
oxrdflib==0.4.0
pandas==2.2.3
rdflib==7.1.1
requests==2.32.3
seaborn==0.13.2
sentencepiece==0.1.96
SPARQLWrapper==2.0.0
sqlparse==0.4.2
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.17.0
